<form action="https://localhost:9980/browser/a4b67a7664/cool.html?WOPISrc=http://web_app:8080/wopi/files/1" target="my-iframe" enctype="multipart/form-data" method="post">
    <input name="access_token" value="test" type="hidden" />
    <input type="submit" value="Load Collabora Online" />
</form>
<iframe name="my-iframe" height="1000" width="1000" allow="clipboard-read *; clipboard-write *">
</iframe>